body{
    background-color:#27374D;
    color: #DDE6ED;
    font-size: large;
}
.pparagr{
    color: #DDE6ED;
    border: 5px 46514c  solid;
    text-align: left;
    margin: 50px;
}

#content{
    width: 720px;
    display: grid;
    place-items: center;
}
#CV{
    margin: 40px;
}

#container{
    display: grid;
    place-items: center;
}
.ptitle{
    color: #9DB2BF;
    text-align: left;
}
.title{
    color: #9DB2BF;
    text-align: center;
}
#pers{
    margin: 50px;
}

button{
    border-radius: 10%;
}
a{
    color: #DDE6ED;
}
ul{
    list-style-type: none;
}
@media only screen and (max-width: 1000px) {
    body {
      font-size: x-large;
    }
  }